<div class="container-fluid">
    <div class="row vh-100">
        <!-- Sidebar -->
        <div class="bg-light border-end p-3">
            <h5 class="text-center mb-4 fw-bold">Menu</h5>
            <hr />
            <ul class="nav flex-column gap-2">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium fs-5" href="#" (click)="onSelectFile(0)">
                        <i class="bi bi-person me-2"></i> Teacher
                    </a>
                </li>
                <hr />
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium fs-5" href="#" (click)="onSelectFile(1)">
                        <i class="bi bi-building me-2"></i> Room
                    </a>
                </li>
                <hr />
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium fs-5" href="#" (click)="onSelectFile(2)">
                        <i class="bi bi-journal-bookmark me-2"></i> Class
                    </a>
                </li>
                <hr />
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium fs-5" href="#">
                        <i class="bi bi-calendar-week me-2"></i> Timetable
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>