<router-outlet>
  <main>
    <div class="container-fluid">
      <app-header></app-header>
    </div>
    <div class="row">
      <div class="col-2">
        <app-menu></app-menu>
      </div>
      <div class="col-10">
        <app-header-content></app-header-content>
        <app-search></app-search>
        <app-tool-bar></app-tool-bar>
        <hr>
        <app-table-content></app-table-content>
        <hr>
        <app-schedule></app-schedule>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</router-outlet>